<html>
    <head>
        <title>Horses for Sale</title>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, user-scalable=no"
        />
        <link rel="stylesheet" href="../../css/main.css" />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />
    </head>
    <nav class="nav">
      <a class="nav-link" href="/">Home</a>
      <a class="nav-link active" href="create-post"> Sell your Horse? </a>
      <a class="nav-link" href="sign-up">Sign Up</a>
    </nav>

    <body>
        <div class="container border shadow mt-4 mx-auto col-3">
            <form action="/create-post" method="POST">
                 <h4 class="mt-2">Horse Name: </h4>
                 <input type="text" name="name" required>

                 <h4 class="mb-2"> Location: </h4>
                 <input type="text" name="location" required>

                 <h4 class="mb-2"> Description: </h4>
                 <input type="text" name="description" required>

                 <h4>Image: </h4>
                 <input type="text" name="horse_pic_url" required>

                 <button class="btn btn-info ml-5"> Submit </button>
            </form>
        </div>
    </body>
</html>